<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');

@import './tailwind.css';
@import './theme.css';
=======
@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
>>>>>>> 4611dd44203dcbfb0e686683575a9f9bd31460a8
